<% provide(:title, 'SolveIT') %>
<div class="center protocolmain">
  <h1>Welcome to a sample protocol</h1>
  <div class="protocoloverview"><p class="heading">Overview</p>
     <div class="content protocoldesc">
		This is the home page for the
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
				This is the home page for the
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
				This is the home page for the
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
				This is the home page for the
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
				This is the home page for the
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
				This is the home page for the
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
		</div>
	</div>
  <div class="workflowname">
	Workflow
  </div>
  <div class="clr"></div>
  <span class="numbering">1</span>
  <div class="workflowitem">
	<span class="workflowdesc">
		Here is the workflow yes it is right here is wher eit is
	</span>
  </div>
  <span class="numbering">2</span>
  <div class="workflowitem">
     <p>
		Here is the workflow yes it is right here is where it is Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it isHere is the workflow yes it is right here is where it isHere is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it isHere is the workflow yes it is right here is where it isHere is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is	
				Here is the workflow yes it is right here is where it isHere is the workflow yes it is right here is where it isHere is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is	
				Here is the workflow yes it is right here is where it isHere is the workflow yes it is right here is where it isHere is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is
		Here is the workflow yes it is right here is where it is
	</p>
  </div>
  <span class="numbering">3</span>
  <div class="workflowitem">
	<span class="workflowdesc">
		Here is the workflow yes it is right here is wher eit is
	</span>
  </div>
  <div class="clr"></div>
  <div class="wfspacing"></div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>